html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-close {
    float: right;
}

.text-danger > ul {
    padding-left: 0;
    list-style-type: none;
}

.login {
    float: right;
    margin-bottom: 0;
}
