@{
    ViewData["Title"] = "Isaiah's Gaming";
}

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded text-light bg-secondary display-2">Isaiah's Gaming</div>

<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded text-light bg-secondary p-3">
                <h1>Games</h1>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris leo arcu, suscipit at porta sagittis, pulvinar sit amet massa. Sed tempus lacus a dui convallis, ut efficitur massa malesuada. Suspendisse vehicula mattis fringilla. Curabitur in auctor elit, ut maximus dolor. Cras id varius odio. Integer mollis viverra neque a mollis. Quisque vel risus nec quam feugiat vestibulum ac eget quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ac metus eu purus sodales fermentum. Nunc cursus, magna et dignissim lobortis, odio purus porta ipsum, sed hendrerit leo tortor ut ex.

                Etiam est velit, gravida quis condimentum at, faucibus facilisis mi. Aenean ac lacus porta, viverra mi sit amet, scelerisque mauris. Duis sed tortor at orci sodales eleifend in in enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin posuere pretium suscipit. In et gravida urna, sit amet placerat justo. Duis tincidunt dolor vitae nisl vehicula dapibus. Cras lorem nisi, elementum quis vehicula vitae, sollicitudin at quam. Etiam ornare eros sed vulputate sollicitudin. Fusce in sagittis est. In suscipit lectus magna, nec sollicitudin libero porta vel. Vivamus at lacus sit amet tortor luctus gravida. Mauris scelerisque nulla dolor. Sed gravida feugiat nibh.

                Proin semper, felis non pharetra facilisis, sem leo suscipit arcu, non euismod libero mauris volutpat lacus. Morbi in fermentum ligula, eu viverra sapien. Proin commodo iaculis tincidunt. Vivamus maximus, risus vitae bibendum gravida, nulla dui cursus libero, et tristique turpis elit in risus. In mi elit, facilisis quis dictum sed, lacinia et libero. Aliquam dui tortor, consectetur quis dui id, commodo pharetra sapien. Sed vitae sem facilisis, rhoncus enim non, sodales neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer vel ultricies erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut semper at elit at condimentum. Ut non pharetra quam. Etiam efficitur lacus vitae massa finibus, at tempus justo mollis. Donec commodo nunc orci, a egestas quam sagittis a.
            </div>
        </div>
        <div class="col">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded text-light bg-secondary p-3">
                <h1>Accessories</h1>
                Fusce non justo suscipit, faucibus elit id, aliquam nisl. Nulla ac scelerisque mauris. Donec tincidunt neque id purus mattis placerat. Ut gravida elit ut lacus ultrices semper sed et mi. Nulla facilisi. Mauris accumsan pellentesque nisi, vitae cursus elit condimentum ut. Maecenas blandit urna sapien, a finibus ex pellentesque et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus ac felis ac ex ullamcorper porttitor sed vitae lectus.

                Maecenas in erat non purus auctor tempor sit amet sit amet nibh. Praesent tempus ligula at accumsan venenatis. In et tellus augue. Nunc lorem metus, semper id enim eu, lobortis egestas diam. Donec urna urna, ornare id varius sed, rhoncus a tortor. Maecenas id ante eleifend, dignissim neque non, blandit risus. Integer nec purus accumsan, ullamcorper neque at, luctus ipsum. Nulla interdum felis ante, vitae pharetra leo imperdiet vel. Pellentesque congue porttitor vehicula. Aliquam a sollicitudin eros. Sed et commodo velit.

                Proin semper, felis non pharetra facilisis, sem leo suscipit arcu, non euismod libero mauris volutpat lacus. Morbi in fermentum ligula, eu viverra sapien. Proin commodo iaculis tincidunt. Vivamus maximus, risus vitae bibendum gravida, nulla dui cursus libero, et tristique turpis elit in risus. In mi elit, facilisis quis dictum sed, lacinia et libero. Aliquam dui tortor, consectetur quis dui id, commodo pharetra sapien. Sed vitae sem facilisis, rhoncus enim non, sodales neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer vel ultricies erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut semper at elit at condimentum. Ut non pharetra quam. Etiam efficitur lacus vitae massa finibus, at tempus justo mollis. Donec commodo nunc orci, a egestas quam sagittis a.
            </div>
        </div>
    </div>
</div>

